.headerSlide1
{
    background-image: url('../../assets/images/banner/banner.jpg');
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 80px);
}

.headerSlide2
{
    background-image: url('../../assets/images/banner/banner-2.jpg');
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 80px);
}

.headerSlide3
{
    background-image: url('../../assets/images/banner/banner-3.jpg');
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 80px);
}